In [1]:
import pandas as pd

#functions used for the simulation
from functions import *

In [2]:
#Frequency list of all French words
freq_list = pd.read_csv('freq_list.csv')

# The Simulation

## Percy Jackson

In [3]:
#a list of all the percy jackson books we will consider for the analysis
books_list = ['Percy Jackson/1/','Percy Jackson/2/','Percy Jackson/3/']

#load the relevant book and word-frequency data for the simulation
book_dfs, freq_list_series = load_data(books_list)

#run the simulation beginning with knowledge of the most common 5000 words
vocab_size_init = 5000
learned_words_data_PJ, known_words_PJ = one_T_simulation(books_list, book_dfs, freq_list, freq_list_series, vocab_size_init)

Initial Vocabulary Size: 5000 words.
------------------------------------

Percy Jackson 1
-Vocabulary Size after reading Book: 7418

Percy Jackson 2
-Vocabulary Size after reading Book: 9038

Percy Jackson 3
-Vocabulary Size after reading Book: 10721

In [4]:
learned_words_data_PJ

   Book Chapter Num_Words Num_Unknown Vocab_Before Vocab_After
0     1       1      3777         481         5000        5083
1     1       2      3002         329         5083        5177
2     1       3      4151         398         5177        5265
3     1       4      3340         359         5265        5339
4     1       5      4853         518         5339        5466
..  ...     ...       ...         ...          ...         ...
57    3      16      5100         254        10363       10458
58    3      17      3747         183        10458       10547
59    3      18      2011          85        10547       10587
60    3      19      4257         208        10587       10677
61    3      20      3037          76        10677       10721

[62 rows x 6 columns]

### Save the data

In [5]:
learned_words_data_PJ.to_csv('Percy Jackson/learned_words_data.csv', index=False)
known_words_PJ.to_csv('Percy Jackson/known_words.csv', index=True)

## Harry Potter

In [6]:
#a list of all the harry potter books we will consider for the analysis
books_list = ['Harry Potter/1/','Harry Potter/2/','Harry Potter/3/']

#load the relevant book and word-frequency data for the simulation
book_dfs, freq_list_series = load_data(books_list)

#run the simulation beginning with knowledge of the most common 5000 words
vocab_size_init = 5000
learned_words_data_HP, known_words_HP = one_T_simulation(books_list, book_dfs, freq_list, freq_list_series, vocab_size_init)

Initial Vocabulary Size: 5000 words.
------------------------------------

Harry Potter 1
-Vocabulary Size after reading Book: 6719

Harry Potter 2
-Vocabulary Size after reading Book: 8393

Harry Potter 3
-Vocabulary Size after reading Book: 10255

In [7]:
learned_words_data_HP

   Book Chapter Num_Words Num_Unknown Vocab_Before Vocab_After
0     1       1      5332         512         5000        5101
1     1       2      3920         312         5101        5175
2     1       3      4305         392         5175        5274
3     1       4      4259         339         5274        5366
4     1       5      6978         755         5366        5513
5     1       6      6766         554         5513        5624
6     1       7      4706         403         5624        5736
7     1       8      3257         332         5736        5792
8     1       9      5263         394         5792        5911
9     1      10      4484         359         5911        6017
10    1      11      3309         274         6017        6090
11    1      12      5714         412         6090        6183
12    1      13      3367         214         6183        6254
13    1      14      3586         266         6254        6334
14    1      15      5061         312         6334        6462
15    1      16      6673         423         6462        6593
16    1      17      5917         289         6593        6719
17    2       1      2798         197         6719        6778
18    2       2      3204         233         6778        6839
19    2       3      4707         307         6839        6929
20    2       4      6141         461         6929        7044
21    2       5      5262         364         7044        7156
22    2       6      4720         361         7156        7246
23    2       7      4448         260         7246        7331
24    2       8      4063         364         7331        7411
25    2       9      4563         259         7411        7513
26    2      10      5152         344         7513        7608
27    2      11      5878         324         7608        7721
28    2      12      5295         305         7721        7835
29    2      13      5234         268         7835        7921
30    2      14      3684         199         7921        8020
31    2      15      4465         266         8020        8094
32    2      16      5788         285         8094        8202
33    2      17      5800         291         8202        8319
34    2      18      3703         164         8319        8393
35    3       1      4126         237         8393        8458
36    3       2      4375         292         8458        8536
37    3       3      4723         262         8536        8622
38    3       4      5502         315         8622        8704
39    3       5      6806         354         8704        8824
40    3       6      7082         390         8824        8956
41    3       7      4315         204         8956        9037
42    3       8      5173         249         9037        9120
43    3       9      5668         267         9120        9235
44    3      10      7477         391         9235        9350
45    3      11      5697         248         9350        9436
46    3      12      4873         204         9436        9527
47    3      13      4267         190         9527        9599
48    3      14      5811         216         9599        9694
49    3      15      5714         233         9694        9788
50    3      16      4402         192         9788        9836
51    3      17      4335         130         9836        9914
52    3      18      2501         104         9914        9961
53    3      19      5575         160         9961       10046
54    3      20      1892          86        10046       10087
55    3      21      7200         204        10087       10191
56    3      22      4768         127        10191       10255

### Save the data

In [8]:
learned_words_data_HP.to_csv('Harry Potter/learned_words_data.csv', index=False)
known_words_HP.to_csv('Harry Potter/known_words.csv', index=True)

## Hunger Games

In [9]:
#a list of all the harry potter books we will consider for the analysis
books_list = ['Hunger Games/1/','Hunger Games/2/','Hunger Games/3/']

#load the relevant book and word-frequency data for the simulation
book_dfs, freq_list_series = load_data(books_list)

#run the simulation beginning with knowledge of the most common 5000 words
vocab_size_init = 5000
learned_words_data_HG, known_words_HG = one_T_simulation(books_list, book_dfs, freq_list, freq_list_series, vocab_size_init)

Initial Vocabulary Size: 5000 words.
------------------------------------

Hunger Games 1
-Vocabulary Size after reading Book: 7433

Hunger Games 2
-Vocabulary Size after reading Book: 9697

Hunger Games 3
-Vocabulary Size after reading Book: 11883

In [10]:
learned_words_data_HG

   Book Chapter Num_Words Num_Unknown Vocab_Before Vocab_After
0     1       1      5194         704         5000        5089
1     1       2      3529         406         5089        5176
2     1       3      3756         435         5176        5271
3     1       4      3667         392         5271        5347
4     1       5      3243         413         5347        5425
..  ...     ...       ...         ...          ...         ...
77    3      24      5284         318        11519       11633
78    3      25      3217         156        11633       11699
79    3      26      3883         152        11699       11776
80    3      27      5054         218        11776       11877
81    3      28       345          19        11877       11883

[82 rows x 6 columns]

### Save the data

In [11]:
learned_words_data_HG.to_csv('Hunger Games/learned_words_data.csv', index=False)
known_words_HG.to_csv('Hunger Games/known_words.csv', index=True)